@import "bootstrap";

html {
  font-size: 100%;
}

body {
  background: $primary-gradient;
  min-height: 100vh;
  display: flex;
  font-family: 'Signika', sans-serif;
  color: whitesmoke;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

div[data-popover] {
  color: #000;
}

