$shadow-3d: 0 3px 0 darken(whitesmoke, 45),
0 8px 10px rgba(0,0,0,0.15);
$big-shadow: 0 -8px 30px rgba(0, 0, 0, 0.2);
$violet: #5f2c82;
$blue: #49a09d;
$primary-gradient: linear-gradient(45deg, $violet, $blue);

$color-list: (
  "brown":   #50514F,
  "red": #F25F5C,
  "rose": #f272a5,
  "light_green": #75f2a1,
  "violet": #ac43f2,
  "orange": #f26c51,
  "pale_red": #f2473f,
  "cyan": #8be5f2,
  "yellow": #FFE066,
  "dark_green": #599e52,
  "blue": #247BA0,
  "green": #70C1B3
)