.vue-js-switch#changed-font {
  font-size: 16px !important;
}

div[data-popover] {
  color: #000 !important;
}

.v--modal-overlay {
  background: transparentize($violet, 0.5 !important);
}

.v--modal-box {
  background: whitesmoke !important;
  padding: 40px !important;
}

.vue-js-switch.changed-font {
  font-size: 2rem !important;
}